/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 

    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #d9d9d9;

}

.red-msg {
    background-color: rgb(184, 26, 26);
    color: #d9d9d9;
}

.green-msg {
    background-color: rgba(37, 175, 37, 0.842);
    color: #d9d9d9;
}

::-webkit-scrollbar-track {
    background-color: #a19d9dde;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: rgba(126, 125, 126, 0.993);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    /* background: rgba(80, 78, 80, 0.993); */
    background-color: #1d1b1b;
}

